{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce!!</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
<p align ="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis tellus non elit ultricies, scelerisque aliquam leo luctus. Duis nec nisi hendrerit, ullamcorper tellus ac, tincidunt nisi. Nulla est risus, finibus sit amet nunc quis, dapibus lacinia ex. Morbi at pharetra dui, sed convallis metus. Fusce aliquam, magna ut malesuada porta, diam massa blandit ex, vel condimentum eros dui id arcu. Fusce a viverra justo. Duis pellentesque massa a augue tristique sagittis. Curabitur malesuada enim sed tellus eleifend, vel pharetra arcu lobortis. Praesent laoreet sem sit amet lobortis faucibus. Ut at hendrerit neque, a cursus nulla. Nam egestas ut ipsum ut viverra. In tortor lacus, vehicula at justo ac, pulvinar venenatis risus. Nam pulvinar mauris ante, eget ultrices velit pulvinar nec. Mauris porta, justo eget imperdiet mollis, nulla lacus aliquet massa, quis tristique libero purus eu velit. Suspendisse varius placerat magna fringilla dapibus.
<br/><br/>
Donec id metus hendrerit, tincidunt orci vel, ultricies sapien. Nulla rhoncus bibendum felis in tempus. Vestibulum viverra maximus ante, et malesuada libero dignissim sed. Nunc dapibus enim sit amet lorem euismod lacinia. Maecenas iaculis ligula tortor, eu gravida diam congue ac. Vivamus id malesuada magna. Nullam scelerisque nisi sed metus elementum, non sollicitudin magna pharetra. Curabitur lobortis, dui in hendrerit gravida, eros diam egestas libero, accumsan euismod mi est at diam. Curabitur efficitur vitae nisl sit amet interdum. Cras quis ornare felis.
<br/><br/>
Morbi tristique dui eget ex maximus molestie. Curabitur imperdiet placerat orci, feugiat malesuada ligula blandit et. Donec ex dolor, luctus at euismod in, ultricies sit amet risus. Phasellus a mollis quam. Mauris elementum, nibh et vestibulum pretium, risus ligula ullamcorper mauris, eu dictum ipsum felis nec turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas finibus nunc eu libero tincidunt tincidunt. Ut ullamcorper bibendum odio vel vulputate. Morbi erat eros, luctus vitae orci vitae, aliquet lobortis ligula. Quisque consequat purus sit amet vulputate luctus. In venenatis eros ligula, a maximus orci iaculis quis. Etiam accumsan porta dolor, sit amet efficitur lectus facilisis viverra. Quisque tincidunt erat ut turpis viverra consectetur.
</p>
<br/><br/>
                    </div>
                </center>
            </div>>
        </div>

{% endblock %}